* {
    padding: 0;
    margin: 0;
}
body {
	margin:0; 
	padding:0;
	font-family: Verdana, Geneva, sans-serif;
	background-color:#FFF;
	background:url(../images/bg.jpg);
  background-size: 100% 100%;
  background-attachment: fixed;
}
a {
    text-decoration: none;
    color: #000;
}

.container {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid red; */
    position: relative;
}

table input {
  width: 303px;
  height: 30px;
  border-radius: 10px;
  padding: 2px;
  cursor: pointer;
}
textarea{
  width: 430px;
  height: 520px;
  border-radius: 14px;
  padding: 2px;
  cursor: pointer;
}

.container table {
    height: 350px;
}


/* tab选项卡 */

#my-tabs {
    /* width: 60%; */
    height: 700px;
    position: absolute;
    right: 0;
    top: 0;
    /* border: 1px solid green; */
}

.tabs li {
    float: left;
    list-style: none;
    border: 1px solid #000;
    margin-bottom: 10px;
}

.tabs li a {
    display: inline-block;
    padding: 6px 16px;
    ;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.content-box div.wrapper {
    width: 100%;
    height: 100%;
    background: #fff;
    border-top: 0;
    position: absolute;
    /* top: 27px; */
    left: 0;
    border-radius: 10px;
}

.wrapper div {
    margin-bottom: 15px;
}

.content-box div p {
    margin-bottom: 9px;
}

.content-box div span {
    padding: 2px 14px;
    border: 1px solid #000;
    margin-right: 5px;
    margin-bottom: 7px;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
}

.content-box>.active {
    z-index: 10;
}

.selected_label {
    width: 367px;
    /* height: 20px; */
    /* border: 1px solid black; */
    padding: 5px;
    overflow: hidden;
}

.selected_label span {
    border: 1px solid #000;
    padding: 2px;
    margin: 2px;
    display: inline-block;
    margin-bottom: 4px;
}

.title_selected {
  background-color: #6fcf6f;
    color: #fff;
    border-color: #3385ff;
}

.white_color {
    color: #fff;
}

.span_selected {
    background: #3385ff;
    color: #fff;
    border-color: #3385ff;
}

button {
    width: 100px;
    height: 30px;
    margin-right: 10px;
}

button.confirm_label {
    width: 120px;
    height: 30px;
    margin-right: 10px;
}
/* 按钮 */

.button {
  background-color: #999;
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,0.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.25),
              0 .25em .25em hsla(0,0%,0%,.05);
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 .5em 1em;
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  text-shadow: 0 1px 1px hsla(0,0%,100%,.25);
  vertical-align: middle;
}
.button:hover {
  outline: none;
}
.button:hover,
.button:focus {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.25),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              0 .25em .25em hsla(0,0%,0%,.05);
}
.button:active {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              inset 0 .25em .5em hsla(0,0%,0%,.05),
              0 -1px 1px hsla(0,0%,0%,.1),
              0 1px 1px hsla(0,0%,100%,.25);
  margin-top: .25em;
  outline: none;
  padding-bottom: .5em;
}
/* Large */

.large {
  font-size: 1.25em;
}

/* Medium */

.medium {
  font-size: 1em;
}

/* Small */

.small {
  font-size: .75em;
}

/* Regular */

.regular {
  border-radius: .5em;
}

/* Square */

.square {
  border-radius: .25em;
}

/* Round */

.round {
  border-radius: 1.25em;
}

/* Red */

.red {
  background-color: #ff6c6f;
}

/* Orange */

.orange {
  background-color: #f6cf6f;
}

/* Yellow */

.yellow {
  background-color: #fff6c6;
}

/* Green */

.green {
  background-color: #6fcf6f;
}

/* Blue */

.blue {
  background-color: #6fc6ff;
}

/* Purple */

.purple {
  background-color: #f6c6ff;
}

/* White */

.white {
  background-color: #eee;
}

/* Grey */

.grey {
  background-color: #999;
}

/* Black */

.black {
  background-color: #444;
}
